*{
    margin:0px;
    padding:0px;
    font-family:'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: #F1F1F1;
    width: 100%;
}
header{
    font-size: larger;
    width:100%;
    text-align: center;
    padding-top: 6vh;
    padding-bottom: 6vh;
}
header h1:hover span{
    color:rgb(28, 143, 156);
    letter-spacing: 10px;
    transition: 0.2s;
    text-decoration: underline;
}
header h1:not(:hover) span{
    letter-spacing: 1px;
    transition: 0.2s;
}
header h1,p{
    margin-top:1vh;
    margin-bottom:1vh;
}
.body{
    width: 98%;
    display: flex;
    padding-right: 1%;
    padding-left: 1%;
}
.body .left{
    width: 66%;
    margin-right: 1%;
    margin-left: 4%;
    height: 100%;
    padding: 0.5%;
}
.body .right{
    width: 24%;
    margin-right: 4%;
    margin-left: 1%;
    height: 100%;
    padding: 0.5%;
}
.content{
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.318), 0 2px 10px 0 rgba(0, 0, 0, 0.23);
    width: 100%;
    /* border-radius: 5px; */
    position: relative;
    overflow: hidden;
}
.content .context h2{
    font-size: 30px;
    font-weight: 300;
}
.content .context p{
    font-size: 20px;
    font-weight: 100;
    word-spacing: 2px;
    display: block;
    line-height: 1.5;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.content:hover{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.373),
    0 2px 10px 0 rgba(0, 0, 0, 0.466);
    transition: 0.5s;
}
.content:not(:hover){
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.318),
    0 2px 10px 0 rgba(0, 0, 0, 0.23);
    transition: 0.2s;
}
.content:hover img{
    overflow: hidden;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter:brightness(100%);
    -webkit-filter: brightness(100%);
}
.context{
    background-color: #FFFFFF;
    position: relative;
    top: 0;
    left: 0;
}
.content img{
    filter:brightness(80%);
    -webkit-filter: brightness(80%);
    vertical-align: middle;
    width: 100%;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    max-height: 70vh;
    object-fit: cover;
    max-height: 40vh;
}
/* here */
.Pictures{
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.318),
    0 2px 10px 0 rgba(0, 0, 0, 0.23);
    width: 100%;
    /* border-radius: 5px; */
    position: relative;
    overflow: hidden;
}
.Pictures .context a{
    text-decoration: none;
}
.Pictures .context h2{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 300;
}
.Pictures .context p{
    font-size: 20px;
    font-weight: 100;
    word-spacing: 2px;
    display: block;
    line-height: 1.5;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.Pictures:hover{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.373),
    0 2px 10px 0 rgba(0, 0, 0, 0.466);
    transition: 0.5s;
}
.Pictures:not(:hover){
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.318),
    0 2px 10px 0 rgba(0, 0, 0, 0.23);
    transition: 0.2s;
}
.Pictures:hover img{
    overflow: hidden;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter:brightness(50%);
    -webkit-filter: brightness(50%);
}
.context{
    background-color: #FFFFFF;
    position: relative;
    top: 0;
    left: 0;
}
.Pictures img{
    filter:brightness(100%);
    -webkit-filter: brightness(100%);
    vertical-align: middle;
    width: 100%;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    max-height: 70vh;
    object-fit: cover;
}
.Pictures .context{
    background-color: rgba(0, 0, 0, 0);
    color:whitesmoke;
    display: none;
    align-items: center;
    justify-content: center;
}
.Pictures .context h2{
    padding:20px 30px;
    background-color: rgba(0, 0, 0, 0.427);
    border: 2px whitesmoke solid;
}
.Pictures .context h2:hover{
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.671);
    color: rgb(56, 152, 155);
    border: 2px rgb(56, 152, 155) solid;
    padding: 20px 50px ;
}
.Pictures .context h2:not(:hover){
    transition: 0.5s;
}
.Pictures:hover .context{
    display: flex;
    width: 100%;
    height: 100%;
    display: inline-flex;
    position: absolute;
}
.content .context{
    padding: 10px;
}
.content .context .title{
    margin: 10px 0px;
}
.content .context .title h2:hover{
    color:rgb(19, 110, 120);
    border-left: 2px rgb(19, 110, 120) solid;
    transition: 0.07s;
}
.content .context .title h2:not(:hover){
    color:rgb(0, 0, 0);
    transition: 0.05s;
}
.content .context .description{
    margin: 15px 0px;
}
.layor_by_layor_list{
    margin-top: 5vh;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.318),
    0 2px 10px 0 rgba(0, 0, 0, 0.23);
    position: relative;
    width: 100%;
}
.layor_by_layor_list:hover{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.373), 
    0 2px 10px 0 rgba(0, 0, 0, 0.466);
    transition: 0.5s;
}
.layor_by_layor_list:not(:hover){
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.318), 
    0 2px 10px 0 rgba(0, 0, 0, 0.23);
    transition: 0.2s;
}
.layor_by_layor_list_header{
    padding: 20px;
    border-bottom: 1px black solid;
}
.layor_by_layor_list_header h2{
    font-size: 27px;
    font-weight: 500;
}
.layor_by_layor_list_header:hover h2{
    /* margin-left: 30px; */
    transition: 0.4s;
}.layor_by_layor_list_header:not(:hover) h2{
    /* margin-left: 10px; */
    transition: 0.4s;
}
.ul_layor_by_layor_list{
    list-style: none;
}
.ul_layor_by_layor_list li{
    display: flex;
    padding:10px;
    border-bottom: 1px black solid;
}
.ul_layor_by_layor_list li:hover{
    background-color: #F1F1F1;
}
.ul_layor_by_layor_list li:hover{
    padding-left: 20px;
    transition: 0.4s;
}
.ul_layor_by_layor_list li:not(:hover){
    padding-left: 10px;
    transition: 0.4s;
}
.ul_layor_by_layor_list li img{
    width: 50px;
    height: 50px;
}
.ul_layor_by_layor_list li .li_context{
    margin-left: 15px;
}
.ul_layor_by_layor_list li h3{
    font-size: 20px;
    font-weight: 200;
}
.ul_layor_by_layor_list li h4{
    font-size: 18px;
    font-weight: 100;
}
.ul_layor_by_layor_list{
    font-size: 20px;
    font-weight: 200;
}
footer{
    margin:5%;
    margin-bottom: 0;
    padding: 1%;
    /* background-color:rgb(39 121 145); */
    background-color:rgb(5 72 80);
    background-image: url(footer_background.jpg);
    background-size: cover;
    background-repeat: none;
    color:whitesmoke;
}
footer h2{
    font-size: 40px;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.250);
    text-align: center;
}
footer address{
    background-color: rgba(0, 0, 0, 0.250);
    padding: 30px;
    line-height: 40px;
}
footer h2:hover{
    letter-spacing: 15px;
    color:white;
    transition: 0.4s;
}
footer h2:not(:hover){
    letter-spacing: normal;
    transition: 0.4s;
}
footer address{
    font-size: 25px;
}
.Pictures_Section{
    margin-right: 4%;
    margin-left: 4%;
    background-color: white;
    border-radius: 10px;
    padding:1%;
    display: flex;
}
.left_pictures{
    padding: 2% 1% 1% 2%;
    width:30%;
}
.right_pictures{
    padding: 2% 2% 1% 1%;
    width: 30%;
}
.Pictures_middle{
    padding: 2% 2% 1% 2%;
    width: 30%;
    margin-left: 0.5%;
}
.Pictures_Section img{
    border: 2px rgb(5 72 80) solid ;
    width: 100%;
    object-fit: cover;
    margin-bottom: 7%;
    filter:brightness(70%);
    -webkit-filter: brightness(70%);
}
.Pictures_Section img:hover{
    overflow: hidden;
    transition: 0.3s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter:brightness(100%);
    -webkit-filter: brightness(100%);
}
.Pictures_Section img:not(:hover){
    transition: 0.2s;
}
h1 a{
    color:black;
    text-decoration: none;
}
